*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.7rem;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: #1a2c54;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

h2,
h3 {
  font-weight: 400;
}

h1 {
  font-weight: 500;
  margin-bottom: 1.6rem;
  font-size: 3.1rem;
}

h2 {
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

h3 {
  margin-bottom: 1.7rem;
  font-size: 2.2rem;
}

p {
  margin: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 2rem;
  }

  h1 {
    font-size: 5rem;
    font-weight: 400;
  }

  h2 {
    font-size: 3.2rem;
  }

  h3 {
    font-size: 2.6rem;
  }
}

a {
  text-decoration: none;
}

/* Button */
.btn {
  border-radius: 8px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 2rem;
  outline: 0;
  padding: 1rem 2.5rem;
  text-align: center;
  text-transform: capitalize;
  text-wrap: nowrap;
}

.btn--image {
  vertical-align: middle;
  margin-right: 1rem;
}

.btn--primary {
  background: #a40670;
  color: #fff;
  transition: background 0.3s;
}

.btn--primary:hover {
  background: #a40670cc;
}

.btn--block {
  width: 100%;
}

/* About */
.about {
  padding: 1.5rem;
  border-radius: 3rem;
}

.about--primary {
  background: #a406701a;
}

.about--secondary {
  background: #1a2c541a;
}

.about__heading {
  margin-top: 1rem;
}

.about__text {
  margin-bottom: 2rem;
}

/* Executives */
.executive {
  background: #a406701a;
  border-radius: 3.5rem;
  overflow: hidden;
  border: 1px solid #909095;
}

.executive__body {
  text-align: center;
  padding: 2rem 1.5rem 3.5rem;
}

.executive__image {
  border-radius: 3.5rem;
  width: 100%;
}

.executive__name,
.executive__position {
  text-transform: capitalize;
}

.executive__name {
  font-weight: 500;
  font-size: 1.4;
}

.executive__position {
  font-size: 1.2rem;
}

.executive__position::after {
  content: ' APWEN uniabuja';
}

@media screen and (min-width: 1024px) {
  .executive__name {
    font-size: 2.1rem;
  }

  .executive__position {
    font-size: 1.7rem;
  }
}

/* Grid Layout */
.grid {
  display: grid;
  gap: 2rem;
}

.grid-mobile--1x2 {
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (min-width: 1024px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--2x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Block & Container */
.block {
  text-align: center;
  padding: 4rem 2rem;
}

.block--pink {
  background: #a406701a;
}

.block__heading {
  margin-top: 0;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

/* Hero */
.block--hero {
  padding-bottom: 8rem;
}

.hero__italic {
  font-weight: 300;
  font-style: italic;
}

.hero__body {
  margin-bottom: 3rem;
}

.hero__text {
  margin-bottom: 3rem;
}

.hero__image {
  width: 100%;
  border-radius: 2.5rem;
}

.hero__circle-design,
.hero__kite-design {
  display: none;
}

@media screen and (min-width: 765px) {
  .hero__button {
    max-width: 60%;
  }
}

@media screen and (min-width: 1024px) {
  .block--hero {
    padding: 10rem 2rem 10rem;
    position: relative;
    overflow: hidden;
  }

  .hero__body {
    text-align: left;
    align-self: center;
  }

  .hero__image-container {
    position: relative;
  }
  .hero__kite-design,
  .hero__circle-design {
    display: initial;
  }

  .hero__circle-design {
    position: absolute;
    bottom: -5rem;
    left: -8rem;
  }

  .hero__kite-design {
    position: absolute;
    bottom: -21rem;
    right: 2rem;
  }
}

/* About Us block */
.us__container {
  text-align: left;
  margin-top: 3.5rem;
}

.us__about {
  max-width: 50rem;
  justify-self: center;
}

.us__star-design,
.us__cloud-design,
.us__star-faded-design {
  display: none;
}

@media screen and (min-width: 1024px) {
  .block--us {
    position: relative;
    padding-top: 6rem;
    padding-bottom: 15rem;
  }

  .us__heading {
    margin-bottom: 4.5rem;
    justify-self: center;
  }

  .us__cloud-design,
  .us__star-design,
  .us__star-faded-design {
    display: initial;
    position: absolute;
  }

  .us__star-design {
    left: 6rem;
    top: 2rem;
  }

  .us__cloud-design {
    left: 8rem;
    bottom: 3rem;
  }
  .us__star-faded-design {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}

/* Secretary Block */
.secretary__image {
  width: 20rem;
  height: 20rem;
  border-radius: 100%;
  mix-blend-mode: multiply;
  position: relative;
  z-index: -1;
}

.secretary__achievements {
  font-size: 2.3rem;
}

.secretary__name {
  font-weight: 400;
}

.secretary__flag-design {
  display: none;
}

@media screen and (min-width: 1024px) {
  .block--secretary {
    font-size: 2.2rem;
    position: relative;
  }

  .secretary__flag-design {
    display: initial;
    position: absolute;
    bottom: 10rem;
    right: 6rem;
  }

  .secretary__achievements {
    font-size: 4rem;
  }

  .secretary__image {
    width: 40rem;
    height: 40rem;
  }
}

/* Executives block */
.block--executives {
  margin-bottom: 6rem;
}

.executives__grid-1x2 {
  margin-top: 2rem;
}

.executives__heading {
  margin-bottom: 5rem;
}

@media screen and (min-width: 1024px) {
  .executives__executive:nth-of-type(1) {
    justify-self: self-end;
  }
  .executives__executive:nth-of-type(2) {
    justify-self: self-start;
  }
  .executives__grid-1x2 {
    margin-top: 3rem;
    gap: 3rem;
  }

  .executives__grid-2x3 {
    gap: 3rem;
  }
}

/* Footer */
.block--footer {
  background: linear-gradient(to bottom right, #a40670 70%, #a4067080);
  padding-bottom: 0;
}

.footer__sections {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block--footer p {
  color: #fff;
}

.footer__logos {
  text-align: left;
}

.footer__logo {
  width: 6rem;
  height: 4rem;
}

.footer__social {
  margin-right: 1.5rem;
}

.footer__text {
  margin: 0 1.5rem 0.5rem 0;
  text-transform: capitalize;
}

.footer__copyright {
  text-align: left;
  padding: 1.5rem 0 2rem;
  border-top: 2px solid #fff;
  margin-top: 3rem;
}

@media screen and (min-width: 1024px) {
  .footer__copyright {
    font-size: 1.4rem;
    margin-top: 5rem;
  }

  .footer__social {
    width: 4rem;
    height: 4rem;
  }

  .footer__logo {
    width: 10rem;
    height: 8rem;
  }
}

/* Navigation bar */
.nav {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #a406701a;
  padding: 1rem 1rem 0;
  position: relative;
  left: 0;
  right: 0;
  width: auto;
  z-index: 1;
}

.nav__body {
  background: #fff4fb;
  box-shadow: -25rem 0 #1a2c5499;
  height: 100vh;
  padding: 8rem 2rem;
  position: absolute;
  top: 0;
  right: 0;
  width: 78%;
  z-index: -1;
  transition: max-height 0.3s, padding 0.3s, box-shadow 0.3s, overflow 0.3s;
}

.nav__logo {
  width: 6rem;
  height: 4rem;
  position: relative;
  z-index: -1;
}

.nav__menu {
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
}

.nav__close {
  position: absolute;
  left: 0;
}

.nav__open {
  display: none;
}

.nav__item {
  padding: 1rem 0;
}

.nav__list {
  list-style: none;
  padding-left: 0;
}

.nav__item a {
  color: #1a2c54;
  width: 100%;
  display: inline-block;
}

.nav__item:hover a {
  text-decoration: underline;
}

.nav--btn {
  max-width: 50rem;
}

.nav--collapsed .nav__body {
  max-height: 0;
  padding: 0;
  overflow: hidden;
  box-shadow: none;
}

.nav--collapsed .nav__open {
  display: initial;
}

.nav--collapsed .nav__close {
  display: none;
}

@media screen and (min-width: 1024px) {
  .nav {
    flex-wrap: nowrap;
    padding: 1.5rem 1rem;
  }

  .nav__menu {
    display: none;
  }

  .nav__body {
    box-shadow: none;
    position: initial;
    height: auto;
    background: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 0;
    justify-items: center;
    width: 85%;
  }

  .nav__list {
    margin: 0;
    justify-self: end;
  }

  .nav__item {
    display: inline-block;
    margin-right: 2rem;
  }

  .nav--btn {
    width: initial;
    justify-self: end;
  }

  .nav--collapsed .nav__body {
    max-height: 100%;
    overflow: visible;
  }
}

/* Header section */
.header {
  position: relative;
}

.header__rectangle-design {
  display: none;
}

@media screen and (min-width: 1024px) {
  .header__rectangle-design {
    display: initial;
    position: absolute;
    top: 0;
    right: 0;
  }
}
