<div class="about about--primary">
  <img class="about__image" src="images/shuriken.svg" alt="" />
  <h3 class="about__heading">Heading</h3>
  <p class="about__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias est
    accusantium temporibus quos iure illum.
  </p>
</div>
<div class="about about--secondary">
  <img class="about__image" src="images/cog.svg" alt="" />
  <h3 class="about__heading">Heading</h3>
  <p class="about__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias est
    accusantium temporibus quos iure illum.
  </p>
</div>
