<section class="block block--us">
  <div class="container">
    <img class="us__star-design" src="images/star.svg" alt="" />
    <h2 class="block__heading us__heading">Who we are?</h2>
    <p>
      The Association of Professional Women Engineers of Nigeria (APWEN) was
      formed by a handful of women engineers led by Engr. (Mrs.) J. O. Maduka in
      1982 and was formally inaugurated in 1983. It was originally meant to be a
      pressure group since most men hiring engineers then would rather have
      women in the kitchen and not on construction sites or behind the desk
      carrying out engineering designs.
    </p>
    <div class="grid grid--1x2 us__container">
      <div class="about about--primary us__about">
        <img class="about__image" src="images/shuriken.svg" alt="" />
        <h3 class="about__heading">Our Mission</h3>
        <p class="about__text">
          To continuously increase awareness that engineering is a career for
          girls also, thereby improving the numerical strength of female
          engineers.
        </p>
      </div>
      <div class="about about--secondary us__about">
        <img class="about__image" src="images/cog.svg" alt="" />
        <h3 class="about__heading">Our Vision</h3>
        <p class="about__text">
          To be the catalyst for the advancement of women in the engineering
          profession towards national and global technological development.
        </p>
      </div>
    </div>
  </div>
  <img class="us__cloud-design" src="images/cloud.svg" alt="" />
  <img class="us__star-faded-design" src="images/star-faded.svg" alt="" />
</section>
