<section class="block container block--executives">
  <h2 class="executives__heading">Our Executives</h2>
  <div class="grid grid-mobile--1x2 grid--2x3">
    <div class="executive">
      <img class="executive__image" src="images/rahma.jpg" alt="rahma" />
      <div class="executive__body">
        <p class="executive__name">musa rahma hassan</p>
        <p class="executive__position">chairman,</p>
      </div>
    </div>
    <div class="executive">
      <img class="executive__image" src="images/paula.jpg" alt="paula" />
      <div class="executive__body">
        <p class="executive__name">edet paula itamanwan</p>
        <p class="executive__position">vice chairman,</p>
      </div>
    </div>
    <div class="executive">
      <img class="executive__image" src="images/esther.jpg" alt="esther" />
      <div class="executive__body">
        <p class="executive__name">inegbedion ofure esther</p>
        <p class="executive__position">secretary general,</p>
      </div>
    </div>
    <div class="executive">
      <img
        class="executive__image"
        src="images/valentina.jpg"
        alt="valentina"
      />
      <div class="executive__body">
        <p class="executive__name">kizito valentina destiny</p>
        <p class="executive__position">assistant secretary,</p>
      </div>
    </div>
    <div class="executive">
      <img class="executive__image" src="images/vanessa.jpg" alt="vanessa" />
      <div class="executive__body">
        <p class="executive__name">elega vanessa emaohiri</p>
        <p class="executive__position">technical secretary,</p>
      </div>
    </div>
    <div class="executive">
      <img class="executive__image" src="images/peace.jpg" alt="peace" />
      <div class="executive__body">
        <p class="executive__name">adedara peace adeola</p>
        <p class="executive__position">public relations officer,</p>
      </div>
    </div>
  </div>
  <div class="grid grid-mobile--1x2 grid--1x2 executives__grid-1x2">
    <div class="executive executives__executive">
      <img class="executive__image" src="images/jacinta.jpg" alt="jacinta" />
      <div class="executive__body">
        <p class="executive__name">ogbonna jacinta chioma</p>
        <p class="executive__position"></p>
      </div>
    </div>
    <div class="executive executives__executive">
      <img class="executive__image" src="images/glory.jpg" alt="glory" />
      <div class="executive__body">
        <p class="executive__name">Glory Benjamin</p>
        <p class="executive__position"></p>
      </div>
    </div>
  </div>
</section>
