<footer class="block block--footer">
  <div class="container footer__sections">
    <div class="footer__logos">
      <img class="footer__logo" src="images/apwen-logo.svg" alt="logo" />
      <img class="footer__logo" src="images/uniabuja-logo.svg" alt="logo" />
    </div>
    <div>
      <p class="footer__text">follow us</p>
      <a href="#">
        <img
          class="footer__social"
          src="images/twitter.svg"
          alt="x (formerly twitter)"
      /></a>
      <a href="#">
        <img
          class="footer__social"
          src="images/linked-in.svg"
          alt="x (formerly twitter)"
      /></a>
    </div>
  </div>
  <p class="footer__copyright">&copy; APWEN UNIABUJA All Rights Reserved.</p>
</footer>
