<section class="block block--pink block--hero">
  <div class="grid grid--1x2 container">
    <div class="hero__body">
      <h1 class="block__heading">
        Promoting <span class="hero__italic">sorority</span> amongst female
        Engineers.
      </h1>
      <p class="hero__text">
        Welcome to the official website of The Association of Professional Women
        Engineers of Nigeria (APWEN) University of Abuja Chapter.
      </p>
      <a href="#" class="btn btn--primary btn--block hero__button">
        <img class="btn--image" src="images/flash.svg" alt="" />
        join our chapter
      </a>
    </div>
    <div class="hero__image-container">
      <img class="hero__circle-design" src="images/circle.svg" alt="" />
      <img
        class="hero__image"
        src="images/group-photo.jpg"
        alt="Uni Abuja APWEN chapter"
      />
    </div>
    <img class="hero__kite-design" src="images/kite.svg" alt="" />
  </div>
</section>
