<nav class="nav nav--collapsed">
  <a href="/">
    <span>
      <img class="nav__logo" src="images/apwen-logo.svg" alt="" />
      <img class="nav__logo" src="images/uniabuja-logo.svg" alt="" />
    </span>
  </a>
  <div class="nav__menu">
    <img class="nav__open" src="images/menu.svg" alt="" />
    <img class="nav__close" src="images/close.svg" alt="" />
  </div>
  <div class="nav__body">
    <ul class="nav__list">
      <li class="nav__item"><a href="#">About</a></li>
      <li class="nav__item"><a href="#">Our Executives</a></li>
    </ul>
    <a href="#" class="btn btn--primary btn--block nav--btn">
      <img class="btn--image" src="images/flash.svg" alt="" />
      join our chapter
    </a>
  </div>
</nav>
